<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4">BigBlueButton - DIE LINKE. Sachsen</h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">BigBlueButton ist eine quelloffene Meeting- und Videokonferenzsoftware. Um diese hier zu nutzen, erstellt ihr einfach ein
neues Konto via [Registrieren] und loggt euch danach ein. Nun k&ouml;nnt ihr Konferenzr&auml;ume oder direkt Meetings erstellen und andere einladen. Andere, die ihr mittels Link einladet,
m&uuml;ssen &uuml;brigens nicht hier registriert sein. Solange sie den Einladungslink haben, k&ouml;nnen sie teilnehmen. Es lohnt sich ein wenig herumzuprobieren.<br><br>
<a href="https://www.dielinke-sachsen.de/2020/04/bigbluebutton/" target="_blank"><b>Hinweise & Infos zur Benutzung</b></a></p>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>
